/*
==================
VARIABLES
==================
*/

$color-accent: #709F4A;
$color-bg: #fafafa;
$color-divider: #ccc;
$color-primary: #5F392D;
$color-primary-dark: #421D1A;
$color-primary-light: #8B6947;
$color-text: #000000;
$color-text-light: #ffffff;
$font-body: 'Helvetica', sans-serif;
$font-headings: 'Georgia', serif;

