/*
==================
VARIABLES
==================
*/

$color-accent: #EA020A;
$color-bg: #fafafa;
$color-divider: #ccc;
$color-primary: #753435;
$color-primary-dark: #000;
$color-primary-light: #5B66DB;
$color-text: #000000;
$color-text-light: #ffffff;
$font-body: 'Helvetica', sans-serif;
$font-headings: 'Georgia', sans-serif;

