/*
==================
VARIABLES
==================
*/

$color-accent: #753435;
$color-accent-light: #EA020A;
$color-bg: #fafafa;
$color-bg-secondary: #9E9E9E;
$color-divider: #303030;
$color-primary: #753435;
$color-primary-dark: #000;
$color-primary-light: #5B66DB;
$color-text: #000000;
$color-text-light: #ffffff;
$font-body: 'Source Sans Pro', sans-serif; 
$font-headings: "tablet-gothic-compressed",sans-serif;

